@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
}

* {
	font-family: "Victor Mono";
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.5px;
}

:root,
[data-bs-theme="light"] {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #5848bb;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-gray: rgb(75, 85, 99);
	--bs-gray-dark: rgb(31, 41, 55);
	--bs-gray-100: rgb(243, 244, 246);
	--bs-gray-200: rgb(229, 231, 235);
	--bs-gray-300: rgb(209, 213, 219);
	--bs-gray-400: rgb(156, 163, 175);
	--bs-gray-500: rgb(107, 114, 128);
	--bs-gray-600: rgb(75, 85, 99);
	--bs-gray-700: rgb(55, 65, 81);
	--bs-gray-800: rgb(31, 41, 55);
	--bs-gray-900: rgb(17, 24, 39);
	--bs-primary: #2f2cd8;
	--bs-secondary: #050505;
	--bs-success: #12a347;
	--bs-info: #0e7ceb;
	--bs-warning: #fba801;
	--bs-danger: #dc2626;
	--bs-light: #e2e8f0;
	--bs-dark: #0f172a;
	--bs-primary-rgb: 47, 44, 216;
	--bs-secondary-rgb: 5, 5, 5;
	--bs-success-rgb: 18, 163, 71;
	--bs-info-rgb: 14, 124, 235;
	--bs-warning-rgb: 251, 168, 1;
	--bs-danger-rgb: 220, 38, 38;
	--bs-light-rgb: 226, 232, 240;
	--bs-dark-rgb: 15, 23, 42;
	--bs-primary-text-emphasis: #131256;
	--bs-secondary-text-emphasis: #020202;
	--bs-success-text-emphasis: #07411c;
	--bs-info-text-emphasis: #06325e;
	--bs-warning-text-emphasis: #644300;
	--bs-danger-text-emphasis: #580f0f;
	--bs-light-text-emphasis: rgb(55, 65, 81);
	--bs-dark-text-emphasis: rgb(55, 65, 81);
	--bs-primary-bg-subtle: #d5d5f7;
	--bs-secondary-bg-subtle: #cdcdcd;
	--bs-success-bg-subtle: #d0edda;
	--bs-info-bg-subtle: #cfe5fb;
	--bs-warning-bg-subtle: #feeecc;
	--bs-danger-bg-subtle: #f8d4d4;
	--bs-light-bg-subtle: #f9fafb;
	--bs-dark-bg-subtle: rgb(156, 163, 175);
	--bs-primary-border-subtle: #acabef;
	--bs-secondary-border-subtle: #9b9b9b;
	--bs-success-border-subtle: #a0dab5;
	--bs-info-border-subtle: #9fcbf7;
	--bs-warning-border-subtle: #fddc99;
	--bs-danger-border-subtle: #f1a8a8;
	--bs-light-border-subtle: rgb(229, 231, 235);
	--bs-dark-border-subtle: rgb(107, 114, 128);
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg,
			rgba(255, 255, 255, 0.15),
			rgba(255, 255, 255, 0));
	--bs-body-font-family: "Rubik", sans-serif;
	--bs-body-font-size: 0.875rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.6;
	--bs-body-color: #7184ad;
	--bs-body-color-rgb: 113, 132, 173;
	--bs-body-bg: #f6f9fc;
	--bs-body-bg-rgb: 246, 249, 252;
	--bs-emphasis-color: #000;
	--bs-emphasis-color-rgb: 0, 0, 0;
	--bs-secondary-color: rgba(113, 132, 173, 0.75);
	--bs-secondary-color-rgb: 113, 132, 173;
	--bs-secondary-bg: rgb(229, 231, 235);
	--bs-secondary-bg-rgb: 229, 231, 235;
	--bs-tertiary-color: rgba(113, 132, 173, 0.5);
	--bs-tertiary-color-rgb: 113, 132, 173;
	--bs-tertiary-bg: rgb(243, 244, 246);
	--bs-tertiary-bg-rgb: 243, 244, 246;
	--bs-heading-color: #1f2c73;
	--bs-link-color: #2f2cd8;
	--bs-link-color-rgb: 47, 44, 216;
	--bs-link-decoration: underline;
	--bs-link-hover-color: #2623ad;
	--bs-link-hover-color-rgb: 38, 35, 173;
	--bs-code-color: #d63384;
	--bs-highlight-color: #7184ad;
	--bs-highlight-bg: rgb(254, 249, 195);
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: rgb(229, 234, 239);
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius: 6px;
	--bs-border-radius-sm: 0.25rem;
	--bs-border-radius-lg: 0.5rem;
	--bs-border-radius-xl: 1rem;
	--bs-border-radius-xxl: 2rem;
	--bs-border-radius-2xl: var(--bs-border-radius-xxl);
	--bs-border-radius-pill: 50rem;
	--bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	--bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	--bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	--bs-focus-ring-width: 0.25rem;
	--bs-focus-ring-opacity: 0.25;
	--bs-focus-ring-color: rgba(47, 44, 216, 0.25);
	--bs-form-valid-color: #12a347;
	--bs-form-valid-border-color: #12a347;
	--bs-form-invalid-color: #dc2626;
	--bs-form-invalid-border-color: #dc2626;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

body {
	margin: 0;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
	padding: 0;
}

::-webkit-inner-spin-button {
	height: auto;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

::file-selector-button {
	font: inherit;
	-webkit-appearance: button;
}

:root {
	--bs-breakpoint-xs: 0;
	--bs-breakpoint-sm: 576px;
	--bs-breakpoint-md: 768px;
	--bs-breakpoint-lg: 992px;
	--bs-breakpoint-xl: 1200px;
	--bs-breakpoint-xxl: 1400px;
}

@-webkit-keyframes progress-bar-stripes {
	0% {
		background-position-x: 1rem;
	}
}

@keyframes progress-bar-stripes {
	0% {
		background-position-x: 1rem;
	}
}

@-webkit-keyframes spinner-border {
	to {
		-webkit-transform: rotate(360deg)
			/* rtl:ignore */
		;
		transform: rotate(360deg)
			/* rtl:ignore */
		;
	}
}

@keyframes spinner-border {
	to {
		-webkit-transform: rotate(360deg)
			/* rtl:ignore */
		;
		transform: rotate(360deg)
			/* rtl:ignore */
		;
	}
}

@-webkit-keyframes spinner-grow {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes spinner-grow {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes placeholder-glow {
	50% {
		opacity: 0.2;
	}
}

@keyframes placeholder-glow {
	50% {
		opacity: 0.2;
	}
}

@-webkit-keyframes placeholder-wave {
	100% {
		-webkit-mask-position: -200% 0%;
		mask-position: -200% 0%;
	}
}

@keyframes placeholder-wave {
	100% {
		-webkit-mask-position: -200% 0%;
		mask-position: -200% 0%;
	}
}

* {
	outline: none;
	padding: 0;
}

*::after {
	margin: 0;
	padding: 0;
}

*::before {
	margin: 0;
	padding: 0;
}

#main-wrapper {
	-webkit-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
	position: relative;
	z-index: 1;
	margin-top: 110px;
}

/* Editable */

div {
	margin: 0px;
	padding: 0px;
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}

	50% {
		-webkit-transform: scaley(0.4);
		transform: scaley(0.4);
	}

	100% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}

	50% {
		-webkit-transform: scaley(0.4);
		transform: scaley(0.4);
	}

	100% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px grey;
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #777;
}

@-webkit-keyframes slideup {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes slideup {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slide {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes slide {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

h5,
.h5,
h4,
.h4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.6;
	color: var(--bs-heading-color);
}

h4,
.h4 {
	font-size: 1.125rem;
}

h5,
.h5 {
	font-size: 1rem;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

input {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

[type="search"] {
	outline-offset: -2px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1290px;
	}
}

.row {
	--bs-gutter-x: 30px;
	--bs-gutter-y: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
}

@media (min-width: 1400px) {
	.col-xxl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
	}
}

ul {
	padding-left: 2rem;
}

ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul ul {
	margin-bottom: 0;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	color: #2f2cd8;
	text-decoration: none;
	outline: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	outline: none;
	color: #2f2cd8;
}

i.fi {
	line-height: 0px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.6;
	color: var(--bs-heading-color);
}

h2,
.h2 {
	font-size: calc(1.3125rem + 0.75vw);
}

@media (min-width: 1200px) {

	h2,
	.h2 {
		font-size: 1.875rem;
	}
}

h3,
.h3 {
	font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

	h3,
	.h3 {
		font-size: 1.5rem;
	}
}

h4,
.h4 {
	font-size: 1.125rem;
}

h5,
.h5 {
	font-size: 1rem;
}

h6,
.h6 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

strong {
	font-weight: bolder;
	color: #1f2c73;
}

a:hover {
	--bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

img {
	vertical-align: middle;
	max-width: 100%;
}

th {
	text-align: inherit;
	text-align: -webkit-match-parent;
}

.container {
	--bs-gutter-x: 30px;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1280px;
	}
}

.row>* {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}

.col-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 41.66666667%;
}

@media (min-width: 576px) {
	.col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.col-xl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
	}

	.col-xl-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-xl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
	}

	.col-xl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-xl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
	}

	.col-xl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
	}
}

.table {
	--bs-table-color-type: initial;
	--bs-table-bg-type: initial;
	--bs-table-color-state: initial;
	--bs-table-bg-state: initial;
	--bs-table-color: var(--bs-emphasis-color);
	--bs-table-bg: var(--bs-body-bg);
	--bs-table-border-color: var(--bs-border-color);
	--bs-table-accent-bg: transparent;
	--bs-table-striped-color: var(--bs-emphasis-color);
	--bs-table-striped-bg: #f6f9fc;
	--bs-table-active-color: var(--bs-emphasis-color);
	--bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
	--bs-table-hover-color: var(--bs-emphasis-color);
	--bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
	width: 100%;
	margin-bottom: 1rem;
	vertical-align: top;
	border-color: var(--bs-table-border-color);
}

.table> :not(caption)>*>* {
	padding: 0.5rem 0.5rem;
	color: var(--bs-table-color-state,
			var(--bs-table-color-type, var(--bs-table-color)));
	background-color: var(--bs-table-bg);
	border-bottom-width: var(--bs-border-width);
	-webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
	box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.table>tbody {
	vertical-align: inherit;
}

.table>thead {
	vertical-align: bottom;
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
	.table-responsive-sm {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.6;
	color: var(--bs-heading-color);
}

h2,
.h2 {
	font-size: calc(1.3125rem + 0.75vw);
}

@media (min-width: 1200px) {

	h2,
	.h2 {
		font-size: 1.875rem;
	}
}

h3,
.h3 {
	font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

	h3,
	.h3 {
		font-size: 1.5rem;
	}
}

h4,
.h4 {
	font-size: 1.125rem;
}

h5,
.h5 {
	font-size: 1rem;
}

h6,
.h6 {
	font-size: 1rem;
}

a {
	color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
	text-decoration: underline;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

table {
	caption-side: bottom;
	border-collapse: collapse;
}

thead,
tbody,
tr,
td,
th {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1280px;
	}
}

.row {
	--bs-gutter-x: 30px;
	--bs-gutter-y: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
}

.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
}

.g-0 {
	--bs-gutter-x: 0;
	--bs-gutter-y: 0;
}

@media (min-width: 768px) {
	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
	}
}

@media (min-width: 992px) {
	.col-lg-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.col-xl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
	}

	.col-xl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
	}

	.col-xl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-xl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
	}

	.col-xl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
	}
}

@media (min-width: 1400px) {
	.col-xxl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
	}

	.col-xxl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
	}
}

.nav {
	--bs-nav-link-padding-x: 1rem;
	--bs-nav-link-padding-y: 0.5rem;
	--bs-nav-link-font-weight: ;
	--bs-nav-link-color: var(--bs-link-color);
	--bs-nav-link-hover-color: var(--bs-link-hover-color);
	--bs-nav-link-disabled-color: var(--bs-secondary-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.tab-content>.tab-pane {
	display: none;
}

.tab-content>.active {
	display: block;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.6;
	color: var(--bs-heading-color);
}

h2,
.h2 {
	font-size: calc(1.3125rem + 0.75vw);
}

@media (min-width: 1200px) {

	h2,
	.h2 {
		font-size: 1.875rem;
	}
}

h3,
.h3 {
	font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

	h3,
	.h3 {
		font-size: 1.5rem;
	}
}

h4,
.h4 {
	font-size: 1.125rem;
}

h5,
.h5 {
	font-size: 1rem;
}

h6,
.h6 {
	font-size: 1rem;
}

strong {
	font-weight: bolder;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}