<div class="w-20 h-screen bg-[#2F3645]">
  <!-- Home Link  -->
  <div class="w-20 h-20 text-[30px] mb-[20px] flex justify-center items-center">
    <span
      class="p-1 cursor-pointer text-[#EEEDEB] hover:text-[tomato] fa-solid fa-house"
    >
    </span>
  </div>

  <!-- Rest Link  -->
  <div>
    @for (link of links;track link){
    <div class="w-20 h-20 text-[25px] flex justify-center items-center">
      <span
        class="p-1 cursor-pointer text-[#EEEDEB] hover:text-[tomato] fa-solid {{
          link?.icon
        }}"
      ></span>
    </div>
    }
  </div>
</div>
