<div class="sidebar">
  <!-- <div class="brand-logo">
    <a class="full-logo" href="index.html"
      ><img src="images/logoi.png" alt="" width="30"
    /></a>
  </div> -->
  <div class="menu">
    <ul>
      <li>
        <a>
          <span>
            <i class="fa-solid fa-home"></i>
          </span>
          <span class="nav-text">Home</span>
        </a>
      </li>
      <li>
        <a>
          <span>
            <i class="fa-solid fa-wallet"></i>
          </span>
          <span class="nav-text">Wallets</span>
        </a>
      </li>
      <li>
        <a href="budgets.html">
          <span>
            <i class="fa-solid fa-piggy-bank"></i>
          </span>
          <span class="nav-text">Budgets</span>
        </a>
      </li>
      <li>
        <a>
          <span>
            <i class="fa-solid fa-bullseye"></i>
          </span>
          <span class="nav-text">Goals</span>
        </a>
      </li>
    </ul>
  </div>
</div>
