.container {
	width: 80px;
	height: 100vh;
	background-color: #2F3645;

	.link-container {
		display: flex;
		align-items: center;
		justify-content: center;

		.nav-link {
			padding: 5px;
			display: inline-block;
			cursor: pointer;
			color: #EEEDEB;

			&:hover,
			&.active {
				color: tomato;
			}
		}
	}

	.home {
		width: 80px;
		height: 80px;
		margin-bottom: 20px;
		font-size: 30px;
	}

	.item {
		width: 80px;
		height: 80px;
		font-size: 25px;
	}
}

// #EEEDEB
// #E6B9A6
// #939185
// #2F3645