<div class="container mx-auto">
  <!-- header -->
  <div class="w-full grid grid-cols-12">
    <div class="col-span-5">
      <h1 class="text-[24px] font-bold tracking-widest leading-loose">
        Wallets
      </h1>
      <p class="text-[14px] text-[grey]">Welcome to Wallets</p>
    </div>
    <div class="col-start-11 col-span-2">
      <span class="flex justify-end text-[16px] font-medium text-[grey]"
        >Home > Wallets</span
      >
    </div>
  </div>

  <!-- instrument container -->
  <div class="mt-8 grid grid-cols-8 gap-[30px]">
    <!-- instrument tabs -->
    <div class="col-span-2">
      <!-- instrument -->
      @for (instrument of [1,2,3,4,5];track instrument){
      <div class="border-2 p-5 mb-5">
        <div class="h-[50px] flex">
          <span
            class="flex justify-center items-center [50px] w-[50px] mr-[12px]"
          >
            <i class="fa-solid fa-house text-[25px]"></i>
          </span>
          <div>
            <h5 class="text-[18px] leading-[28px] font-extrabold">
              City Bank
            </h5>
            <span class="text-[14px] leading-[22px] font-medium text-gray-800"
              >$1,23,423</span
            >
          </div>
        </div>
      </div>
      }

      <!-- Add New Instrument -->
      <div class="border-2 px-[20px] py-[15px]">
        <div class="h-[25px] flex justify-between items-center">
          <p class="text-[18px] font-bold text-gray-600">Add New</p>
          <i class="text-[14px] font-extrabold p-0.5 border-2 fa-solid fa-plus text-gray-500 border-gray-400"></i>
        </div>
      </div>
    </div>

    <!-- instrument details  -->
    <div class="col-span-6 border-2 h-20"></div>
  </div>
</div>
