/* outer css  */
.content-body {
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 50px;
}
@media (min-width: 576px) {
  .content-body {
    margin-left: 0px;
    margin-bottom: 50px;
  }
}

.dashboard .content-body {
  margin-left: 80px;
  margin-right: 0px;
  margin-top: 0px;
}
@media only screen and (max-width: 767px) {
  .dashboard .content-body {
    margin-left: 0px;
  }
}

/* page header links  */
.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius)
    var(--bs-card-inner-border-radius) 0 0;
}
.d-block {
  display: block !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.text-success {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}

#main-wrapper.show {
  opacity: 1;
}

.content-body {
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 50px;
}
@media (min-width: 576px) {
  .content-body {
    margin-left: 0px;
    margin-bottom: 50px;
  }
}

.dashboard .content-body {
  margin-left: 80px;
  margin-right: 0px;
  margin-top: 0px;
}
@media only screen and (max-width: 767px) {
  .dashboard .content-body {
    margin-left: 0px;
  }
}

.page-title {
  margin-bottom: 30px;
  background: transparent;
  border-radius: 6px;
}
.page-title .page-title-content h3,
.page-title .page-title-content .h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

.breadcrumbs a {
  color: #7184ad;
  display: inline-block;
  font-size: 14px;
}
.breadcrumbs.active a {
  color: #fff;
}
.breadcrumbs i {
  margin: 0px 10px;
  font-size: 20px;
  line-height: 0;
  position: relative;
  top: 5px;
}

.credit-card {
  background: #126aff;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.credit-card .type-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.credit-card .type-brand h4,
.credit-card .type-brand .h4 {
  color: #7184ad;
  font-size: 14px;
}
.credit-card .type-brand img {
  height: 30px;
  padding: 4px 6px;
  border-radius: 8px;
}
.credit-card .cc-number {
  padding: 32px 0px;
}
.credit-card .cc-number h6,
.credit-card .cc-number .h6 {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  font-size: 20px;
}
.credit-card .cc-holder-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.credit-card .cc-holder-exp h5,
.credit-card .cc-holder-exp .h5 {
  color: #fff;
  margin-bottom: 0px;
}
.credit-card .cc-holder-exp .exp {
  color: #fff;
}
.credit-card .cc-holder-exp .exp strong {
  color: #fff;
}
.credit-card.visa {
  background: rgb(30, 27, 75);
}
.credit-card.visa:hover .cc-info {
  background: #0f172a;
}

.cc-info {
  padding: 15px 20px 20px;
  border-radius: 0px;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.cc-info p {
  margin-bottom: 0px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.cc-info p strong {
  color: #fff;
  opacity: 1;
}

.card {
  border: 0px solid rgb(229, 234, 239);
  margin-bottom: 30px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  background-color: #fff;
}
.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0px solid rgb(229, 234, 239);
  background-color: transparent;
  padding: 20px 20px 0px;
}
@media only screen and (max-width: 767px) {
  .card-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
.card-title {
  font-size: 18px;
  margin-bottom: 0px;
  color: #1f2c73;
}
.card .card-body {
  padding: 20px;
  background: transparent;
}

.table th {
  color: #1f2c73;
  border-bottom: 1px solid rgb(229, 234, 239) !important;
  background-color: transparent;
}
.table th:last-child {
  text-align: right;
}

.table-responsive-sm {
  min-width: 48rem;
}

.table {
  margin-bottom: 0px;
}
.table tr:last-child td {
  border-bottom: 0px solid rgb(229, 234, 239);
}
.table tr td {
  background-color: transparent;
  border-bottom: 1px solid rgb(229, 234, 239);
  vertical-align: middle;
  padding: 15px 5px;
  color: #7184ad;
}
.table tr td:last-child {
  text-align: right;
}

#circle5 {
  position: relative;
  display: inline-block;
}
#circle5 span {
  position: absolute;
  left: 40px;
  top: 40px;
}

.stat-widget-1 {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}
.stat-widget-1 h6,
.stat-widget-1 .h6 {
  margin-bottom: 0px;
  font-size: 14px;
}
.stat-widget-1 h3,
.stat-widget-1 .h3 {
  font-size: 28px;
  margin: 10px 0px;
}
.stat-widget-1 p {
  border-top: 1px solid rgb(229, 234, 239);
  padding-top: 10px;
  color: #7184ad;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.stat-widget-1 p span i {
  font-size: 18px;
  line-height: 0;
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.stat-widget-1 p strong {
  color: #7184ad;
  font-weight: 500;
}

#circle2,
#circle3,
#circle4 {
  position: relative;
  display: inline-block;
}

#circle2 span,
#circle3 span,
#circle4 span {
  position: absolute;
  left: 40px;
  top: 40px;
}

#chartjsBalanceOvertime,
#chartjsBalanceOvertime2,
#chartjsBalanceOvertime3,
#chartjsBalanceOvertime4 {
  height: 245px !important;
}

.table-category-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}
.table-category-icon i {
  display: inline-block;
  line-height: 0px;
  margin-right: 10px;
  height: 35px;
  width: 35px;
  color: #fff;
  padding: 9px 10px;
  border-radius: 100px;
  font-size: 16px;
}

img {
  max-width: 100%;
  display: block;
}

.add-card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
  -webkit-box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 6px;
}

.wallet-nav {
  background: #fff;
  padding: 20px;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  margin-bottom: 20px;
}
.wallet-nav:hover,
.wallet-nav:focus,
.wallet-nav.active {
  background: #2f2cd8;
}
.wallet-nav:hover .wallet-nav-icon,
.wallet-nav:focus .wallet-nav-icon,
.wallet-nav.active .wallet-nav-icon {
  background: #2321b0;
  color: #fff;
}
.wallet-nav:hover .wallet-nav-text h3,
.wallet-nav:hover .wallet-nav-text .h3,
.wallet-nav:hover .wallet-nav-text p,
.wallet-nav:focus .wallet-nav-text h3,
.wallet-nav:focus .wallet-nav-text .h3,
.wallet-nav:focus .wallet-nav-text p,
.wallet-nav.active .wallet-nav-text h3,
.wallet-nav.active .wallet-nav-text .h3,
.wallet-nav.active .wallet-nav-text p {
  color: #fff;
}
.wallet-nav .wallet-nav-icon {
  background: #e1e1f9;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 20px;
  color: #2f2cd8;
  margin-right: 12px;
}
.wallet-nav .wallet-nav-icon i {
  line-height: 0px;
}
.wallet-nav .wallet-nav-text p {
  color: #7184ad;
  opacity: 0.85;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.wallet-nav .wallet-nav-text h3,
.wallet-nav .wallet-nav-text .h3 {
  font-size: 18px;
  margin-bottom: 0px;
}

.wallet-tab-content {
  padding-left: 30px;
}
@media only screen and (max-width: 1199px) {
  .wallet-tab-content {
    padding-top: 30px;
    padding-left: 0px;
  }
}
.wallet-tab-content .wallet-tab-title {
  padding: 16px 20px;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}
.wallet-tab-content .wallet-tab-title h3,
.wallet-tab-content .wallet-tab-title .h3 {
  font-size: 20px;
  margin-bottom: 0px;
}

.funds-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgb(229, 234, 239);
  padding: 10px 0px;
}
.funds-credit:last-child {
  padding-bottom: 0px;
  border: 0px;
}
.funds-credit h5,
.funds-credit .h5 {
  margin-bottom: 0px;
}
