<div class="container mx-auto">
  <!-- header -->
  <div class="w-full grid grid-cols-12">
    <div class="col-span-5">
      <h1 class="text-[24px] text-black tracking-widest leading-loose">
        Wallets
      </h1>
      <p class="text-[14px] text-[grey]">Welcome to Wallets</p>
    </div>
    <div class="col-start-11 col-span-2">
      <span class="flex justify-end text-[16px] font-medium text-[grey]"
        >Home > Wallets</span
      >
    </div>
  </div>

  <!-- instrument container -->
  <div class="mt-8 grid grid-cols-8 gap-[50px]">
    <!-- instrument tabs -->
    <div class="col-span-2">
      <!-- instrument -->
      @for (instrument of [1,2,3,4,5];track instrument){
      <div
        class="cursor-pointer border-[1px] border-blue p-5 mb-5 drop-shadow-xl {{
          activeLink == instrument && 'bg-offwhite'
        }}"
        (click)="activeLink = instrument"
      >
        <div class="h-[50px] flex">
          <span
            class="flex justify-center items-center [50px] w-[50px] mr-[12px]"
          >
            <i class="fa-solid fa-house text-[25px] text-blue"></i>
          </span>
          <div>
            <h5 class="text-[18px] text-black leading-[28px] font-extrabold">
              City Bank
            </h5>
            <span class="text-[14px] leading-[22px] font-medium text-blue"
              >$1,23,423</span
            >
          </div>
        </div>
      </div>
      }

      <!-- Add New Instrument -->
      <div
        style="transition: 0.1s ease-out all"
        class="cursor-pointer rounded-md {{
          addNewClicked || 'bg-gray pb-[3px] pr-[3px]'
        }}"
        (mousedown)="addNewClicked = true"
        (mouseup)="addNewClicked = false"
      >
        <div class="border-[1px] bg-pink px-[20px] py-[15px] mt-10">
          <div class="h-[25px] flex justify-between items-center">
            <p class="text-[18px] font-bold text-black">Add New</p>
            <i
              class="text-[14px] font-extrabold p-0.5 fa-solid fa-plus text-blue"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <!-- instrument details  -->
    <div class="col-span-6">
      <!-- Instrument Name -->
      <div class="flex items-center h-20 mb-[30px] px-[20px]">
        <h5 class="px-[20px] text-[25px] font-extrabold bg-offwhite">City Bank</h5>
      </div>

      <!-- Instrument Details -->
      <div class="grid grid-cols-2 gap-[30px]">
        <!-- Row 1  -->
        <div class=" border-[1px] border-black h-[160px] drop-shadow-xl"></div>
        <div class=" border-[1px] border-black h-[160px]"></div>

        <!-- Row 2  -->
        <div class=" border-[1px] border-black h-[125px]"></div>
        <div class=" border-[1px] border-black h-[125px]"></div>
      </div>

      <!-- Graph -->
      <div class=" border-[1px] border-black h-[300px] mt-[30px]"></div>
    </div>
  </div>
</div>
