<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="header-content">
          <div class="header-left">
            <div class="search">
              <form>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search Here"
                  />
                  <span class="input-group-text"
                    ><i class="fa-solid fa-magnifying-glass"></i
                  ></span>
                </div>
              </form>
            </div>
          </div>
          <div class="header-right">
            <div class="dark-light-toggle" onclick="themeToggle()">
              <span class="dark"><i class="fa-regular fa-moon"></i></span>
              <span class="light"><i class="fa-regular fa-sun"></i></span>
            </div>
            <div class="nav-item dropdown notification">
              <div data-bs-toggle="dropdown">
                <div class="notify-bell icon-menu">
                  <span><i class="fa-regular fa-bell"></i></span>
                </div>
              </div>
            </div>
            <div class="dropdown profile_log dropdown">
              <div data-bs-toggle="dropdown">
                <div class="user icon-menu">
                  <span><i class="fa-solid fa-user"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
